@model string[]
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section Header {
    <div class="view">
        @foreach (string str in new[] { "Index", "List", "About" })
    {
            @Html.ActionLink(str, str, null, new { style = "margin: 5px" })
        }
    </div>
}

@section Body{
    <div class="view">
        <h2>List Fruit</h2>
        @foreach (string fruits in Model)
    {
            <span><strong><italic>@fruits</italic></strong></span>
        }
    </div>
    <label class="label label-info">@Html.ActionLink("View list Student", "ListStudent", "Student")</label>
    <br />
    <label class="label label-danger">@Html.ActionLink("Go to View Bag", "UsingViewBag", "Student")</label>
    <br />
    <label class="label label-default">@Html.ActionLink("Go to Temp Data", "Index", "TempData")</label>
    <br />
    @{
        var date = DateTime.Now.ToShortDateString();
        var message = "Hello Razor Engine";
        var number = 10;
    }
    <label class="label label-danger">@date</label>
    <br />
    <label class="label label-success">@message</label>
    <br />
    <label class="alert alert-danger">@message is created by @number characters</label>
    <h2>Bien trong MVC</h2>
    @{
        var heading = "Using Variables";
        string greating = "Welcome to ASP.NET MVC";
        int num = 400;
        DateTime today = DateTime.Today;
    }
    <h3>@heading</h3>
    <p>@greating</p>
    <p>@num</p>
    <p>@date</p>
    <h2>Vong lap trong MVC Razor</h2>
    @{
        var i = 0;
        while (i < 10)
        {
            i++;
            <label class="label label-default">@i</label>
        }
    }
    <h2>IF-Else in MVC Razor</h2>

    @if (DateTime.IsLeapYear(DateTime.Now.Year))
    {
        <label class="label label-default">@DateTime.Now.Year is a leap year.</label>
    }
    else
    {
        <label class="label label-default">@DateTime.Now.Year is not a leap year.</label>
    }
    <h2>Colection Example</h2>
    @{
        string[] members = { "Phong", "Van", "Thanh", "Bang" };
        int posi = Array.IndexOf(members, "Phong") + 1;
        int leng = members.Length;
        string x = members[2 - 1];
    }
    <p>List members:</p>
    @foreach (var item in members)
    {
        <label class="label label-default">@item</label>
    }
    <label class="label label-default">The number of members is: @leng</label>
    <label class="label label-default">Phong is now positon: @posi</label>
    <label class="label label-default">The position at 2 is: @x</label>
}
<br />
@section Footer{
    <div class="view">
        @DateTime.Now.Year Section Footer
    </div>
}