
@{
    ViewBag.Title = "List";
}

<h2>This is the /Views/Common/List.cshtml View</h2>
@Html.Partial("MyPartial")
<br />
@Html.Partial("MyStronglyTypedPartial", new[] { "Asus", "Lenovo", "Dell", "Acer", "Mac" })
@Html.Action("Time")
<label class="label label-primary">Name: @ViewData["Name"]</label><br />
<label class="label label-success">Job: @ViewData["Job"]</label>