@using ModelBinding.Models
@model IList<AddressSummary>
@{
    ViewBag.Title = "Address";
}

<h2>Address</h2>
@if (Model.Count() == 0)
{
    using (Html.BeginForm())
    {
        for (int i = 0; i < 3; i++)
        {
            <fieldset>
                <legend>Address:@(i + 1)</legend>
                <div class="row">
                    <label>City:</label>
                    @Html.Editor("[" + i + "].City", "", new { @class = "form-control" })
                </div>
                <div class="row">
                    <label>Country:</label>
                    @Html.Editor("[" + i + "].Country", "", new { @class = "form-control" })
                </div>
            </fieldset>
        }
        <button class="btn btn-primary" type="submit">Sbumit</button>
    }
}
else
{
    foreach (AddressSummary item in Model)
    {
        <div class="row">
            <label>City: @item.City</label>
        </div>
        <div class="row">
            <label>Country: @item.Country</label>
        </div>
    }
    @Html.ActionLink("Create address", "Address")
}