@model ModelBinding.Models.Person
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    <label>ID:</label>@Html.DisplayFor(p => p.ID)
</div>
<div class="row">
    <label>Name:</label>@Html.DisplayFor(p => p.Name)
</div>
<div class="row">
    <label>Date of Birth:</label>@Html.DisplayFor(p => p.DOB)
</div>
<div class="row">
    <label>Gender:</label>@Html.DisplayFor(p => p.Gender)
</div>
<div class="row">
    <label>Address:</label>@Html.DisplayFor(p => p.Address)
</div>
<div class="row">
    <label>Role:</label>@Html.DisplayFor(p => p.Role)
</div>